[submodule "git"]
	path = git
	url = https://github.com/git/git.git
	branch = master
[submodule "vim"]
	path = vim
	url = https://github.com/vim/vim.git
	branch = master
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
	branch = master
[submodule "mosh"]
	path = mosh
	url = https://github.com/mobile-shell/mosh.git
	branch = master
